footer.container.max-w-7xl.mx-auto.px-2(class='sm_px-6 lg_px-8')
  .mt-3.py-4.dark_text-white
    p.float-right
      a.text-indigo-600.dark_text-indigo-400(href='#') Back to top
    p
      | © 2021 HTML Driven Development · 
      a.text-indigo-600.dark_text-indigo-400(href='/credits') Credits
      | &nbsp;· 
      a.text-indigo-600.dark_text-indigo-400(href="https://github.com/rajasegar/hdd/issues") Report issues
    p.text-center.mt-4  
      | Made with <span class="text-red-500">&hearts;</span> by  
      a.text-indigo-600.dark_text-indigo-400(href='https://twitter.com/rajasegar_c') Rajasegar Chandran
    #wcb.carbonbadge.wcb-d.mt-4
    script(src="https://unpkg.com/website-carbon-badges@1.1.1/b.min.js" defer)
    script(src="/js/main.js")

