footer.container
  .mt-3
    p.float-end
      a(href='#') Back to top
    p
      | © 2021 HTML Driven Development. · 
      a(href='/credits') Credits
      | · 
      a(href="https://github.com/rajasegar/hdd/issues") Report issues
    p.text-center  
      | Made with <span class="text-danger">&hearts;</span> by  
      a(href='https://twitter.com/rajasegar_c') Rajasegar Chandran
script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous")
//-script(src="https://unpkg.com/htmx.org@1.3.1")
//-script(src="https://unpkg.com/hyperscript.org@0.0.8")
