include _head
</head>
<body>
  header
    nav.navbar.navbar-expand-md.navbar-light.fixed-top.bg-light
      .container
        a.navbar-brand.font-italic(href='/') &lt;HDD/&gt;
        button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarCollapse' aria-controls='navbarCollapse' aria-expanded='false' aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarCollapse.collapse.navbar-collapse
          ul.navbar-nav.me-auto.mb-2.mb-md-0
            li.nav-item
              a.nav-link(href='/values') Values
            li.nav-item
              a.nav-link(href='/principles') Principles
            li.nav-item
              a.nav-link(href='/practices') Practices
            li.nav-item
              a.nav-link(href='/tools') Tools
          //-.form-check.form-switch(_="on every load log body.classList")
            input.form-check-input(
            type="checkbox" 
            id="chkDarkMode" 
            _="on change toggle .light-mode on body"
            checked)
            label.form-check-label.text-dark(for="chkDarkMode") Dark Mode

