doctype html
<html lang="en">
<head>
meta(charset='utf-8')
meta(name='viewport' content='width=device-width, initial-scale=1')
meta(name='description' content='HTML Driven Development')
meta(name='author' content='Rajasegar Chandran')
title HTML Driven Development

// Favicons
link(rel='apple-touch-icon' href='/images/favicons/apple-touch-icon.png' sizes='180x180')
link(rel='icon' href='/images/favicons/favicon-32x32.png' sizes='32x32' type='image/png')
link(rel='icon' href='/images/favicons/favicon-16x16.png' sizes='16x16' type='image/png')
link(rel="manifest" href="/images/favicons/manifest.json")
link(rel='icon' href='/images/favicons/favicon.ico')
link(href='/css/styles.css' rel='stylesheet')

