mixin lg-link(article)
  a.list-group-item.list-group-item-action.bg-gray-dark.text-white(href=article.url, target="_blank")
    | #{article.title}

mixin value-tag(value)
  span.mx-2.badge.bg-light.text-dark #{value}
