include _mixins

if videos.length > 0
  section.py-2.container
    h2.text-center.text-indigo-600.text-3xl.my-2 Talks & Videos
  .album.py-2.bg-dark
    .container
      .grid.grid-cols-3.gap-4
        each video in videos
          +youtube-card(video)
            | #{video.description}

if articles.length > 0
  section.py-2.container
    h2.text-center.text-indigo-600.text-3xl.my-2 Blogs & Articles
    .list-group
      each article in articles
        +lg-link(article)

if demos.length > 0
  section.py-2.container
    h2.text-center.text-indigo-600.text-3xl.my-2 Demos & Source Code
    .list-group
      each demo in demos
        +lg-link(demo)

if websites.length > 0
  section.py-2.container
    h2.text-center.text-indigo-600.text-3xl.my-2 Websites
    .list-group
      each website in websites
        +lg-link(website)
