mixin value-card(title, url)
  .col-md-6.text-dark
    .h-100.p-5.bg-light.rounded-3.bg-light-box-pattern
      h2 #{title}
      block
      a.btn.btn-outline-dark(
        href=url
        ) Know more

mixin value-card-dark(title, url)
  .col-md-6
    .h-100.p-5.text-white.bg-gray-dark.rounded-3.bg-dark-box-pattern
      h2 #{title}
      block
      a.btn.btn-outline-light(
        href=url
        ) Know more
