include _mixins
mixin value-card(title, url)
  .h-100.p-8.bg-white.rounded.text-gray-600.shadow.flex.flex-col.justify-between.dark_bg-gray-800
    h2.text-2xl.font-bold.py-2.text-indigo-600.dark_text-indigo-400 #{title}
    block
    .mt-8.text-right
      +link-indigo(url, 'Know more') Know more

mixin value-card-dark(title, url)
  .h-100.p-8.text-white.bg-indigo-600.rounded.shadow-2xl
    h2.text-2xl.font-bold.py-2.text-white #{title}
    block
    a.btn.btn-outline-light(
      href=url
      ) Know more
