main.container.max-w-7xl.mx-auto.px-2.pb-4(class='sm_px-6 lg_px-8')
  .container.mt-3
    .px-4.py-5.text-center.rounded-3.bg-gray-dark.mb-4
      h1.text-5xl.font-bold.px-5
        | HTML Driven Development is old wine in a new bottle.
    p.py-2
      |  It is a development methodology heavily inspired by <a class="text-indigo-600" href="https://en.wikipedia.org/wiki/Extreme_programming">Extreme Programming</a> by Kent Beck. It is an answer to the question, "what if we apply Extreme programming principles for today's web development practices by keeping HTML as the core?". What it will look like if we create a framework by forming a core set of values, principles and practices based on XP, to tackle the complexity in Web Development.

    h2.py-4.text-indigo-600.font-bold.text-4xl.text-center HTML is the center of the universe.

    p.lead.mb-4
      | HTML and CSS are the basic building blocks of the web. JavaScript was supposed to be a glue to work these two and to add some amount of interactivity and dynamism to our pages. This is how the story should have been unfolded. But, the fable of Web development took a tragic turn of events with the advent of Client-side rendering and other similar technologies. This paved way for building HTML and CSS in JavaScript and the exception became the norm. We see huge amounts of JavaScript shipped to the browser which is justified in the name of whatsoever it may be called.

    
    p.lead.mb-4
      | It all started with this <a class="text-indigo-600" href="https://dev.to/rajasegar/htmx-and-html-driven-development-3800">blog post</a> on <a href="https://dev.to">dev.to</a> where we have introduced the term HTML Driven Development. The Web development world is complex and chaotic today. We hope that if we adopt HDD as our development methodology, we can cut through the complexity surrounding today's web development practices, and instead focus on delivering quality, performant, accessible and sustainable solutions in the web to our customers and users.

    p.lead
      | We came up with this idea being inspired by new paradigms which focus on HTML, like Server-side Rendering (SSR), HTML over the wire, Sustainable Web Design and so on. The methodology is still in nascent stages and if you want to make some suggestions or improvements, please join our <a class="text-indigo-600" href="https://discord.gg/AcTWdPR8">Discord</a> channel or report <a class="text-indigo-600" href="https://github.com/rajasegar/hdd/issues">issues</a> in our Github repository.
