include _mixins
main.container.max-w-7xl.mx-auto.px-2.pb-4(class='sm_px-6 lg_px-8')
  .container.mt-3.dark_text-white
    h2.text-2xl.font-bold Image Credits
    ul
      li
        +link("https://www.freepik.com/vectors/illustrations") Illustrations vector created by freepik - www.freepik.com
      li
        +link("https://www.freepik.com/vectors/abstract") Abstract vector created by vectorjuice - www.freepik.com
      li
        +link("https://www.freepik.com/vectors/work") Work vector created by freepik - www.freepik.com
    h2.text-2xl.font-bold Inspiration
    ul
      li
        +link("https://en.wikipedia.org/wiki/Extreme_programming", "Extreme_programming") Extreme Programming
      li
        +link("https://en.wikipedia.org/wiki/Domain-driven_design", "Domain Driven Design") Domain Driven Design
      li
        +link("https://abookapart.com/products/sustainable-web-design/", "Sustainable Web Design") Sustainable Web Design
      li
        +link("https://htmx.org/essays/locality-of-behaviour", "Locality of Behavior") Locality of Behavior
      li
        +link("https://htmx.org/essays/complexity-budget", "Complexity Budget") Complexity Budget
      li
        +link("https://macwright.com/2020/10/28/if-not-spas.html", "SPA Alternative") SPA Alternative
      li
        +link("https://resilientwebdesign.com/", "Resilient Web Design") Resilient Web Design
      li
        +link("https://futurefriendlyweb.com/", "Future Friendly Web") Future Friendly Web
