main
  .container.mt-3
    h2 Image Credits
    ul
      li
        <a href="https://www.freepik.com/vectors/illustrations">Illustrations vector created by freepik - www.freepik.com</a>
      li
        <a href="https://www.freepik.com/vectors/abstract">Abstract vector created by vectorjuice - www.freepik.com</a>
      li
        <a href="https://www.freepik.com/vectors/work">Work vector created by freepik - www.freepik.com</a>
      li
        <a href="https://www.google.com/url?sa=i&url=https%3A%2F%2Fdzone.com%2Farticles%2Fangular-server-side-rendering-ssr-made-easy-with-a&psig=AOvVaw3N-_fAo5XYBO2QmFuMvnna&ust=1618806003411000&source=images&cd=vfe&ved=0CA0QjhxqFwoTCMDVsL74hvACFQAAAAAdAAAAABAX">SSR</a>
      li
        a(href="https://www.slideshare.net/PatrickSteeleIdem/rediscovering-progressive-html-rendering-with-marko-templates-and-nodejs") Progressive html
      li
        a(href="https://www.seobility.net/en/wiki/Progressive_Enhancement") Progressive Enhancement
