include _value-card
main
  .container
    .p-5.mb-4.bg-light.rounded-3
      .container-fluid.py-5
        h1.display-5.fw-bold Principles
        p.col-md-8.fs-4
          | Values are too abstract to directly guide behavior. That's why we need principles. You can use the principles to understand the practices better. The principles give you a better idea of what the practice is intended to accomplish. No work should be done for its own sake.

        a.btn.btn-primary.btn-lg(
          href="https://en.wikipedia.org/wiki/Principle"
          target='_blank'
          rel="noopener"
          ) Know more
    .row.align-items-md-stretch
      +value-card-dark('Thin Clients','#')
        p
          | Simplicity is the ultimate form of sophistication. Always strive for this particular value in all you do. This will make your life better. But, remember achieving simplicity is hard.
      +value-card('HATEOAS','#')
        p
          | Or, keep it light and add a border for some added definition to the boundaries of your content. Be sure to look under the hood at the source HTML here as we've adjusted the alignment and sizing of both column's content for equal-height.
      .mt-4
      +value-card('Complexity Budget','#')
        p  Or, keep it light and add a border for some added definition to the boundaries of your content. Be sure to look under the hood at the source HTML here as we've adjusted the alignment and sizing of both column's content for equal-height.
      +value-card-dark('Locality of Behavior','#')
        p  Or, keep it light and add a border for some added definition to the boundaries of your content. Be sure to look under the hood at the source HTML here as we've adjusted the alignment and sizing of both column's content for equal-height.
      .mt-4
      +value-card-dark('Locality of Behavior','#')
        p  Or, keep it light and add a border for some added definition to the boundaries of your content. Be sure to look under the hood at the source HTML here as we've adjusted the alignment and sizing of both column's content for equal-height.
      +value-card('Accessible Routing','#')
        p  Or, keep it light and add a border for some added definition to the boundaries of your content. Be sure to look under the hood at the source HTML here as we've adjusted the alignment and sizing of both column's content for equal-height.
