include _featurette
main.container.max-w-7xl.mx-auto.px-2.mt-4.dark_text-white(class='sm_px-6 lg_px-8')
  h1.text-5xl.text-center.font-bold.py-4.text-gray-900.dark_text-white &lt;Tools/&gt;
  .p-2.mb-4.rounded-3.bg-gray-dark
    .container-fluid
      p.col-md-12.fs-4
        | Some of the amazing frameworks and libraries that promote some or most of the values of HTML Driven Development.


  +featurette("htmx", "/images/htmx-500.jpg", "https://htmx.org")
    p.lead
      | <a class="text-indigo-600 hover_text-indigo-900" href="https://htmx.org">htmx</a> allows you to access AJAX, CSS Transitions, WebSockets and Server Sent Events directly in HTML, using attributes, so you can build modern user interfaces with the simplicity and power of hypertext. htmx is small (~10k min.gz'd), dependency-free, extendable & IE11 compatible
    p.lead htmx is a library that allows you to access modern browser features directly from HTML, rather than using javascript.  htmx extends and generalizes the core idea of HTML as a hypertext, opening up many more possibilities directly within the language. 


  +featurette-alt("hotwire","/images/hotwire-500.jpg", "https://hotwire.dev")
    p.lead <a class="text-indigo-600 hover_text-indigo-900" href="https://hotwire.dev">Hotwire</a> is an alternative approach to building modern web applications without using much JavaScript by sending HTML instead of JSON over the wire. This makes for fast first-load pages, keeps template rendering on the server, and allows for a simpler, more productive development experience in any programming language, without sacrificing any of the speed or responsiveness associated with a traditional single-page application.


  +featurette("Phoenix LiveView","/images/phoenix-500.jpg","https://github.com/phoenixframework/phoenix_live_view")
    p.lead
      | <a class="text-indigo-600 hover_text-indigo-900" href="https://github.com/phoenixframework/phoenix_live_view">Phoenix LiveView</a> enables rich, real-time user experiences with server-rendered HTML. The LiveView programming model is declarative: instead of saying "once event X happens, change Y on the page", events in LiveView are regular messages which may cause changes to its state. Once the state changes, LiveView will re-render the relevant parts of its HTML template and push it to the browser, which updates itself in the most efficient manner. This means developers write LiveView templates as any other server-rendered HTML and LiveView does the hard work of tracking changes and sending the relevant diffs to the browser.


  +featurette-alt("Laravel Livewire", "/images/livewire-500.jpg", "https://laravel-livewire.com/")
    p.lead
      | <a class="text-indigo-600 hover_text-indigo-900" href="https://laravel-livewire.com">Livewire</a> is a full-stack framework for Laravel that makes building dynamic interfaces simple, without leaving the comfort of Laravel.


  +featurette('Marko','/images/marko-500.png','https://markojs.com')
    p.lead
      | <a class="text-indigo-600 hover_text-indigo-900" href="https://markojs.com">Marko</a> is HTML re-imagined as a language for building dynamic and reactive user interfaces. Just about any valid HTML is valid Marko, but Marko extends the HTML language to allow building modern applications in a declarative way.


  +featurette-alt("Astro",'images/astro-500.png', 'https://astro.build')
    p.lead
      | <a class="text-indigo-600 hover_text-indigo-900" href="https://astro.build">Astro</a> allows you to build faster websites with less client-side Javascript.

    p.lead Astro lets you use any framework you want (or none at all). And if most sites only have islands of interactivity, shouldn’t our tools optimize for that? Astro is not the first to ask the question, but it might be the first with an answer for every framework.


  +featurette('Sockpuppet','images/sockpuppet-500.png', 'https://sockpuppet.argpar.se/')
    p.lead
      | <a class="text-indigo-600 hover_text-indigo-900" href="https://sockpuppet.argpar.se">Sockpuppet</a> is a new way to craft modern, reactive web interfaces with Django. We extend the capabilities of both Django and Stimulus by intercepting user interactions and passing them to Django over real-time websockets. These interactions are processed by Reflex actions that change application state. The current page is quickly re-rendered and the changes are sent to the client. The page is then morphed to reflect the new application state. This entire round-trip allows us to update the UI in 20-30ms without flicker or expensive page loads.

  +featurette-alt('Unpoly', 'images/unpoly-500.png', 'https://unpoly.com/')
    p.lead
      | The <a class="text-indigo-600 hover_text-indigo-900" href="https://unpoly.com">unobtrusive JavaScript framework</a> for server-side web applications Unpoly enables fast and flexible frontends while keeping rendering logic on the server. It has no dependencies and plays nice with existing code.

  +featurette('Alpine.js', 'images/alpine-500.png','https://github.com/alpinejs/alpine')
    p.lead
      | A rugged, minimal framework for composing JavaScript behavior in your markup. <a class="text-indigo-600 hover_text-indigo-900" href="https://github.com/alpinejs/alpine">Alpine.js</a> offers you the reactive and declarative nature of big frameworks like Vue or React at a much lower cost. You get to keep your DOM, and sprinkle in behavior as you see fit.

  +featurette-alt('Inertia.js', 'images/inertia-500.png','https://inertiajs.com')
    p.lead
      | <a class="text-indigo-600 hover_text-indigo-900" href="https://inertiajs.com">Inertia.js</a> lets you quickly build modern single-page React, Vue and Svelte apps using classic server-side routing and controllers.
    p.lead
      | It is a new approach to building classic server-driven web apps. It allows you to create fully client-side rendered, single-page apps, without much of the complexity that comes with modern SPAs. It does this by leveraging existing server-side frameworks. It has no client-side routing, nor does it require an API.


  +featurette('Mavo', 'images/mavo-logo.svg','https://mavo.io/')
    p.lead
      | <a class="text-indigo-600 hover_text-indigo-900" href="https://mavo.io" target="_blank">Mavo</a> is a new, approachable way to create Web applications. You can create complex, reactive, persistent web applications by just writing HTML & CSS, without a single line of JavaScript and no server backend. It was developed in the Haystack Group at <a class="text-indigo-600 hover_text-indigo-900" href="http://csail.mit.edu/" target="_blank">MIT CSAIL</a> and led by <a class="text-indigo-600 hover_text-indigo-900" href="https://lea.verou.me/" target="_blank">Lea Verou</a>. 
    p.lead
      | Mavo extends the syntax of HTML to describe Web applications that manage, store, and transform data. You can store data in the cloud, locally, or not at all by just changing an HTML attribute.


