include _value-card
main
  .container
    .p-5.mb-4.rounded-3.bg-gray-dark.text-white
      .container-fluid
        h1.display-5.text-center &lt;Values/&gt;
        p.col-md-12.fs-4.first-letter
          | Values are the large scale criteria we use to judge what we see, think, and do. Making values explicit is important because without values, practices quickly become repetitive, activities performed for their own sake but lacking any purpose or direction. So when you are following <abbr title="HTML Driven Development">HDD</abbr>, simply keep these values in mind. Consider them as a guidance mechanism in all the practices you do as part of <abbr title="HTML Driven Development">HDD</abbr>. 

        a.btn.btn-light.btn-lg(
          href="https://www.ethicssage.com/2018/08/what-are-values.html"
          target='_blank'
          rel="noopener"
          ) Know more
    .row.align-items-md-stretch
      +value-card-dark('Simplicity','https://css-tricks.com/simple-boring/')
        p
          | Simplicity is the ultimate form of sophistication. Always strive for this particular value in all you do. This will make your life better. But, remember achieving simplicity is hard.

      +value-card('Performance','https://web.dev/vitals')
        p
          | Web performance is all about making web sites fast, including making slow processes seem fast. Does the site load quickly, allow the user to start interacting with it quickly, and offer reassuring feedback if something is taking time to load (e.g. a loading spinner)? 

      .mt-4
      +value-card('Developer Experience','https://css-tricks.com/what-is-developer-experience-dx/')
        p  Developer Experience is a term with a self-declaring meaning — the experience of developers — but it eludes definition in the sense that people invoke it at different times for different reasons referring to different things.

      +value-card-dark('Single Code base','https://m.signalvnoise.com/the-majestic-monolith/')
        p  Having a Single Code base collapses as many unnecessary conceptual models as possible. Eliminates as much needless abstraction as you can swing a hammer at. It’s a big fat no to distributing your system lest it truly prevents you from doing what really needs to be done.

      .mt-4
      +value-card-dark('Single source of State','https://gist.github.com/SteveSandersonMS/ba16f6bb6934842d78c89ab5314f4b56')
        p  Try to keep your application state in one place, like on the server, to avoid state synchronization issues and keep your view layers light and fast. Your view layer should only manipulate the state it requires to render the  view, not anything else. You should avoid storing large amounts of application data in the browser or the client side.

      +value-card('Search-friendly Routing','https://magento.com/blog/technical/server-side-vs-client-side-rendering-and-changing-seo-practices')
        p  Almost every website or web-application uses routing. Discovering a website by changing its URL is a very powerful feature that comes standard with the web. How all of this is handled can vary a lot between different websites and web-applications.
      .mt-4
      +value-card('Accessibility','https://developer.mozilla.org/en-US/docs/Learn/Accessibility/What_is_accessibility#:~:text=Accessibility%20is%20the%20practice%20of,those%20with%20slow%20network%20connections.')
        p Accessibility is the practice of making your websites usable by as many people as possible. We traditionally think of this as being about people with disabilities, but the practice of making sites accessible also benefits other groups such as those using mobile devices, or those with slow network connections.
      +value-card-dark('Energy Efficiency', '/values/energy-efficiency')
        p The internet consumes a lot of electricity. 416.2TWh per year to be precise. To give you some perspective, that’s more than the entire United Kingdom. From data centres to transmission networks to the devices that we hold in our hands, it is all consuming electricity, and in turn producing carbon emissions.
