/* GLOBAL STYLES
-------------------------------------------------- */
:root {
  --html-orange: #e34c26;
  --html-light-orange: #f06529;
  --html-gray: #ebebeb;
}

/* Padding below the footer and lighter body text */

body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #fff;
  background: var(--bs-dark);
}

body.light-mode {
  color: #000;
  background:#fff;
}

.bg-gray-dark {
  background-color: var(--bs-gray-dark)!important;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
/* rtl:begin:ignore */
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}
/* rtl:end:ignore */


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 1rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  /* rtl:remove */
  letter-spacing: -.05rem;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 2rem;
  }
}

.text-3d {
    transform: translate(50%,-50%);
    text-transform: uppercase;
    font-size: 12em;
    font-weight: 700;
    color: #f5f5f5;
    text-shadow: 1px 1px 1px #919191,
        1px 2px 1px #919191,
        1px 3px 1px #919191,
        1px 4px 1px #919191,
        1px 5px 1px #919191,
        1px 6px 1px #919191,
        1px 7px 1px #919191,
        1px 8px 1px #919191,
        1px 9px 1px #919191,
        1px 10px 1px #919191,
    1px 18px 6px rgba(16,16,16,0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);
}


/* X-Small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 
  .text-3d {
    font-size: 4em;
  }
}

/* Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) { 
  .text-3d {
    font-size: 6em;
  }
}

/* Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) {
  .text-3d {
    font-size: 8em;
  }
}

#logo {
  position: relative;
  width: 100%;
  height: 300px;
  background: var(--html-orange);
  color: #fff;
}

a {
  color: var(--bs-cyan);
}

a:hover {
  color: #fff;
}

