include ../_youtube-card
include ../_mixins
main
  section.py-2.text-center.container
    .row.py-lg-5
      .col-lg-6.col-md-8.mx-auto
        h1.fw-light Make use of CDN
        p.lead.text-muted
          | Server-side rendering is the most common method for displaying information onto the screen. It works by converting HTML files in the server into usable information for the browser. Whenever you visit a website, your browser makes a request to the server that contains the contents of the website.
  include _resources
