include ../_youtube-card
include ../_mixins
main
  section.py-2.text-center.container
    .row.py-lg-5
      .col-lg-6.col-md-8.mx-auto
        h1.fw-light Make use of CDN
        p.lead.text-muted
          | Content delivery networks (CDN’s) provide a great solution to this, serving assets such as image files from a network of data centres around the world. This means that in most cases, the largest files will be loaded from the CDN location in the users own region, reducing the distance that data is moving each time a page is loaded. Once again, this improves energy efficiency and improves page load times.

        p
          each value in values
            +value-tag(value)
  include _resources
