extends _layout
block body
  h1.font-bold.text-5xl.text-center.dark_text-white Make use of CDN
  p.mt-4.dark_text-gray-400
    | Content delivery networks (CDN’s) provide a great solution to this, serving assets such as image files from a network of data centres around the world. This means that in most cases, the largest files will be loaded from the CDN location in the users own region, reducing the distance that data is moving each time a page is loaded. Once again, this improves energy efficiency and improves page load times.

  include _values
