extends _layout
block body
  h1.font-bold.text-5xl.text-center.dark_text-white HTML over the wire
  p.mt-4.dark_text-gray-400
    | HTML Over The Wire is a celebration of the simplicity in HTML as the format for carrying data and presentation together, whether this is delivered on the first load or with subsequent dynamic updates.
  include _values
  .my-4
    p.text-center
      a.inline-block.bg-indigo-600.text-white.p-4.hover_bg-indigo-700.rounded(href='/html-over-the-wire' target="_blank") Compare different solutions available
