extends _layout
block body
  h1.fw-light.text-center HTML over the wire
  p.lead.text-muted
    | HTML Over The Wire is a celebration of the simplicity in HTML as the format for carrying data and presentation together, whether this is delivered on the first load or with subsequent dynamic updates.
  p
    each value in values
      +value-tag(value)
  p.text-center
    a.btn.btn-primary.my-2(href='https://html-over-the-wire.herokuapp.com') Compare different solutions available
