extends _layout
block body
  h1.fw-light.text-center Just Enough Javascript
  p.lead
    | JavaScript was supposed to be sprinkled upon HTML and primarily used for interactivity and dynamism, nothing more, nothing less.
  //-p
    a.btn.btn-primary.my-2(href='#') Main call to action
    a.btn.btn-secondary.my-2(href='#') Secondary action
  include _values
