extends _layout
block body
  h1.font-bold.text-5xl.text-center Just Enough Javascript
  p.mt-4
    | JavaScript was supposed to be sprinkled upon HTML and primarily used for interactivity and dynamism, nothing more, nothing less.
  include _values
