extends _layout
block body
  h1.text-center.font-bold.text-5xl.dark_text-white Optional Build
  p.px-8.py-2.dark_text-gray-400
    | Bundling need not to be a mandatory practice in Web development. You only need to bundle when you want such as in production enviroments. With the advent of EcmaScript Modules, the new module standard for Javascript there are a lot of tools to avoid bundling for the client.

  p.text-center
    each value in values
      +value-tag(value)
