extends _layout
block body
  h1.text-center.font-bold.text-5xl.dark_text-white Progressive Enhancement
  p.px-8.py-2.dark_text-gray-400
    | Progressive enhancement is a design and development strategy for websites that starts with a simple base and adds step-by-step improvements for more powerful systems. It allows developers to design websites that take full advantage of the capabilities of modern browsers and devices. At the same time, it avoids performance and display problems with less powerful devices and older browsers with limited functionality.
