include ../_youtube-card
include ../_mixins
main
  section.py-2.container
    .row.py-lg-5
      .col-lg-6.col-md-8.mx-auto
        h1.fw-light.text-center Progressive HTML Rendering
        p.lead.text-muted
          | Progressive HTML rendering is a technique to improve the performance of websites that involves sending an HTTP response for an HTML page in multiple flushes. This improves both the actual load time, as well as the perceived load time.
        //-p
          a.btn.btn-primary.my-2(href='#') Main call to action
          a.btn.btn-secondary.my-2(href='#') Secondary action
  include ../_resources
