extends _layout
block body
  h1.text-center.font-bold.text-5xl Progressive HTML Rendering
  p.px-8.py-2
    | Progressive HTML rendering is a technique to improve the performance of websites that involves sending an HTTP response for an HTML page in multiple flushes. This improves both the actual load time, as well as the perceived load time.
