include ../_youtube-card
mixin lg-link(item)
  a.list-group-item.list-group-item-action(href=item.url, target="_blank")
    | #{item.title}
main
  section.py-2.text-center.container
    .row.py-lg-5
      .col-lg-6.col-md-8.mx-auto
        h1.fw-light Progressive HTML Rendering
        p.lead.text-muted
          | Progressive HTML rendering is a technique to improve the performance of websites that involves sending an HTTP response for an HTML page in multiple flushes. This improves both the actual load time, as well as the perceived load time.
        //-p
          a.btn.btn-primary.my-2(href='#') Main call to action
          a.btn.btn-secondary.my-2(href='#') Secondary action
    h2 Talks & Videos
  .album.py-2
    .container
      .row.row-cols-1.row-cols-sm-2.row-cols-md-3.g-3
        each video in videos
          +youtube-card(video)
            | #{video.description}

  section.py-2.container
    h2.text-center Blogs & Articles
    .list-group
      each article in articles
        +lg-link(article)

  section.py-2.container
    h2.text-center Demos & Source Code
    .list-group
      each demo in demos
        +lg-link(demo)
