extends _layout
block body
  h1.text-center.text-5xl.font-bold.dark_text-white Server-side Routing
  p.px-8.py-2.dark_text-gray-400
    | Client-side routing sound more complicated, because it is. Server-side routing has been the standard for a long time, search engines are optimised for webpages that come from the server.
