extends _layout
block body
  h1.text-center.text-5xl.font-bold Server-side Routing
  p.px-8.py-2
    | Client-side routing sound more complicated, because it is. Server-side routing has been the standard for a long time, search engines are optimised for webpages that come from the server.
