include ../_youtube-card
include ../_mixins
main
  section.py-2.container
    .row.py-lg-5
      .col-lg-6.col-md-8.mx-auto
        h1.fw-light.text-center Server-side Routing
        p.lead.text-muted
          | Client-side routing sound more complicated, because it is. Server-side routing has been the standard for a long time, search engines are optimised for webpages that come from the server.
  include ../_resources
