extends _layout
block body
  h1.font-bold.text-5xl.text-center.dark_text-white Energy Efficiency
  p.dark_text-gray-400.mt-4
    | The internet consumes a lot of electricity. 416.2TWh per year to be precise. To give you some perspective, that’s more than the entire United Kingdom. From data centres to transmission networks to the devices that we hold in our hands, it is all consuming electricity, and in turn producing carbon emissions.
  p.text-center.mt-4
    a.bg-indigo-600.text-white.hover_bg-indigo-700.p-4.rounded(href="https://websitecarbon.com") Estimate your web page carbon footprint
